<template>
  <div class="park" v-if="park">
    <a href="/" @click.exact.prevent="$router.push('/')">Close</a>
    <h2>{{ park.Title }}</h2>
    <ul class="park__features">
      <li>{{ park.FeatureOnOffLeash }}</li>
    </ul>
    <p class="park__notes">{{ park.Notes }}</p>
    <p class="park__provider">Managed by <strong>{{ park.Provider }}</strong></p>
    <br>
    <h3>Park Photo</h3>
    <img :src="'park-photos/'+park.ProviderCode">
    <input type="file" id="img" name="img" accept="image/*" @change="uploadImage">
  </div>
</template>

<script>
import axios from 'axios';
export default {
  computed: {
    park() {
      return this.$store.state.parks.find(park => park.ID === parseInt(this.$route.params.id, 10));
    },
    parks() {
      return this.$store.state.parks;
    },
  },
  methods: {
    uploadImage(e) {
      const image = e.target.files[0];
      const currentPark = this.$store.state.parks.find(
        p => p.ID === parseInt(this.$route.params.id, 10),
      );

      axios.post('api/v1/parks', image, {
        headers: {
          'Content-Type': image.type,
          'ProviderCode': currentPark.ProviderCode,
        }
      })
      .then((response) => {
        console.log(response)
        location.reload();
      }).catch((error) => {
        console.log(error)
      });
    },
  },
}
</script>

<style>
  .park {
    padding: 20px;
  }
</style>
